{% extends 'file/file_action.html.twig' %}

{% block title_action %}Compress Image{% endblock %}
{% block breadcrumb_action %}Compress{% endblock %}

{% block header %}Compress Your Image{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Inherit stylesheets from base template #}
    {{ vite_entry_link_tags('appcompress') }}
{% endblock %}

{% block javascripts_body %}
    {{ parent() }}
    {{ vite_entry_script_tags('appcompress') }}
{% endblock %}

{% block description %}Upload an image and reduce its size. Optimized for quality and performance.{% endblock %}

{% block content %}
    <div class="text-center">
        <input type="file" class="filepond mb-4" name="filepond" accept="image/png, image/jpeg, image/gif"/>
        <button class="btn btn-success btn-lg rounded-pill px-5 shadow-sm button-process"><i class="fas fa-compress-arrows-alt me-2"></i>Compress Image</button>
    </div>
{% endblock %}