<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}File actions
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ vite_entry_link_tags('appmain') }}
		{% endblock %}

		{% block javascripts %}
			{{ vite_entry_script_tags('appmain') }}

		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="main-grid">
				<h1>File actions</h1>
				<div class="list-layout">
					<button type="button" class="btn btn-primary btn-resize">Resize</button>
					<button type="button" disabled class="btn btn-secondary">Convert extension</button>
					<button type="button" disabled class="btn btn-success">Compress</button>
					<button type="button" disabled class="btn btn-danger">Sepia</button>
					<button type="button" disabled class="btn btn-warning">Rotate</button>
					{# <button type="button" class="btn btn-info">Info</button> #}
				{# <button type="button" class="btn btn-light">Light</button> #}
					{# <button type="button" class="btn btn-dark">Dark</button> #}
				</div>
			</div>
		{% endblock %}
	</body>
</html>
