body {
    background-color: skyblue;

    /* Nested selectors: 
    This demonstrates the use of hierarchical (nested) CSS. 
    The .list-layout class is scoped within the body tag. */
    .list-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vh;
    }

    .main-grid {
        display: grid;
        /* This grid layout is responsive, using auto-fill to adjust the number of columns 
        based on the available space, with a minimum column width of 500px. */
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 2vh;
        margin: 5vh;
    }

    .main-grid-subpage {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2vh;
        margin: 5vh;
    }

    .button-back {
        width: 30%;
        height: 20%;
    }
}